.TodoItem {
  margin: 3px 0px;
}

.disabled {
  color: grey;
  text-decoration: line-through;
}

.DeleteTodoButton {
  color: white;
  background-color: tomato;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-left: 3px;
  font-size: 11px;
}